table {
	display: table;
}
table tr {
	display: table-cell;
}
table tr td {
	display: block;
}

.floatLeft { width: 50%; float: left; }
.floatRight {width: 50%; float: right; }
.container { overflow: hidden; }

body {
    background-color: rgb(140, 190, 134)
}

table, th, td {
    border: 3px solid;
}

img {
    width: 70px;
    height: 70px;
}

.inline {
    display: inline-block;
}

.add{
    cursor: pointer;
}


.chart {
    position: absolute;
    top: 100; /*[wherever you want it]*/
    left: 350; /*[wherever you want it]*/
    height: 275px; 
    width: 25%; 
    display: inline-block;
  }
       